{% assign emailMenuItem = Model.ContentItem.Content.EmailMenuItem %}

{% assign cssClasses = "nav__item-link nav__item-link--email" %}

{% if Model.ContentItem.Content.LinkVisualPart.Style.Text %}
    {% assign cssClasses = cssClasses | append:" " | append: Model.ContentItem.Content.LinkVisualPart.Style.Text %}
{% else %}
    {% assign cssClasses = cssClasses | append: " nav__item-link--default link" %}
{% endif %}

{% assign linkUrl = "mailto:" | append: emailMenuItem.EmailAddress.Text %}

{% if emailMenuItem.Subject.Text != blank %}
    {% assign linkUrl = linkUrl | append: "?subject=" | append: emailMenuItem.Subject.Text %}
{% endif %}

<a href="{{ linkUrl }}" 
   {% if cssClasses != blank %} class="{{ cssClasses }}" {% endif %}>
    {{ emailMenuItem.Label.Text }}
</a>
